:host {
    display: flex;
    gap: 2em;
    justify-content: center;
    margin: 1em;
}

a {
    opacity: 0.25;
    transition: opacity 300ms ease-in-out;

    &:hover {
        opacity: 0.99;
    }

    img {
        height: 24px;
    }
}
