:host {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 200%;
    font-weight: 100;
    h1 {
        font-size: 200%;
        font-weight: 100;
    }
}
