@use 'sass:color';

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

$site-background: #08141b;
$accent-color: #ff7676;

* { box-sizing: border-box; }

html, body {
    font-family: "Raleway", sans-serif;
    background-color: $site-background;

    --site-background: #{$site-background};
    --site-background-o50: #{color.change($site-background, $alpha: 0.08)};
    color: #7eb3bf;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0;
}

a {
    color: $accent-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &:visited {
        color: pink;
    }
}

div.tag {
    display: inline-block;
    padding: 0px 4px;
    margin: 2px;
    border: 1px solid rgb(0 148 245);
    font-size: 70%;
    border-radius: 4px;
    background: rgb(20 76 113);
    color: rgb(255 255 255);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


mat-icon.inline {
    vertical-align: middle;
}

ul.facts {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    li {
        margin: 0;
        list-style-type: none;
        margin-right: 0.5em;
        padding-right: 0.5em;
        border-right: 1px solid #21597f;
        &:last-child {
            border-right: none;
        }
    }
}


blockquote {
    border-left: 2px solid #55838d;
    padding: 1em;
    color: #55838d;
    margin: 0;
    background-color: #0e2433;

    & > p {
        margin: 0;
        padding: 0;
    }

    & > ul {
        margin: 0;
    }

    &.discord-message {
        border: 1px solid #ff7676;
        padding: 1em;
        border-radius: 3px;
        margin: 2em;

        .byline {
            display: flex;
            gap: 0.5em;
            align-items: center;
            font-style: normal;
        }

        .author {
            font-weight: bold;
            font-size: 110%;
        }

        .discord-message-content {
            padding: 0.5em 0;
            font-size: 200%;
            font-style: italic;
        }

        .discord-link {
            display: block;
            font-size: 80%;
            opacity: 0.7;
            text-align: right;
        }
    }
}

div.property {
    display: flex;
    align-items: flex-start;
    margin: 0.5em 0;

    label {
        font-size: 90%;
        font-weight: bold;
        color: #666;
        min-width: 8em;
    }

    &.long {
        label {
            min-width: 12em;
        }
    }

    &.very-long {
        label {
            min-width: 16em;
        }
    }

    ul {
        margin: 0 0 0 0;
        padding: 0 0 0 1.5em;
        border-left: 4px solid #ccc;
    }

    blockquote {
        padding-top: 0;
        padding-bottom: 0;
    }
}

mat-icon, .mat-icon {
    vertical-align: middle;
}

hr {
    border: 1px solid #233a4a;
}



.markdown-alert {
    --alert-color: #ff7676;
    border-radius: 5px;
    border: 1px solid var(--alert-color);
    padding: 1.5em 1.5em 0.5em 1.5em;
    margin: 0.5em 0;
    color: #cae8ef;
    padding-left: 4em;

    &.markdown-alert-note { --alert-color: #6d946d; }
    &.markdown-alert-tip { --alert-color: #3fb1ff; }
    &.markdown-alert-important { --alert-color: #bb7a03; }
    &.markdown-alert-warning { --alert-color: yellow; }
    &.markdown-alert-caution { --alert-color: red; }

    p.markdown-alert-title {
        color: var(--alert-color);
        margin: 0;
        margin-left: -2em;
        display: flex;
        gap: 1em;
        align-items: center;
        padding-bottom: 0.5em;
        font-weight: bold;
        font-size: 120%;

        svg {
            fill: currentColor;
        }
    }

    p.markdown-alert-title + p {
        margin-top: 0;
    }
}

.spacer {
    flex-grow: 1;
}

h1 .mat-icon {
    $size: 1em;
    width: $size;
    height: $size;
    font-size: $size;
}
