@use 'sass:color';

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

$site-background: #08141b;
$accent-color: #ff7676;

* { box-sizing: border-box; }

html, body {
    font-family: "Raleway", sans-serif;
    background-color: $site-background;

    --site-background: #{$site-background};
    --site-background-o50: #{color.change($site-background, $alpha: 0.08)};
    color: #7eb3bf;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0;
}

a {
    color: $accent-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &:visited {
        color: pink;
    }
}

div.tag {
    display: inline-block;
    padding: 0px 4px;
    margin: 2px;
    border: 1px solid rgb(0 148 245);
    font-size: 70%;
    border-radius: 4px;
    background: rgb(20 76 113);
    color: rgb(255 255 255);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
