:host {
    display: flex;
    flex-direction: column;
}

canvas {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.doodle-name {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 60%;
    opacity: 0.5;
    letter-spacing: 2px;
    color: white;
    z-index: 10;
    text-shadow: 0px 0px 10px black;
}

.home-content {
  position: relative;
  z-index: 10;
}
