<div class="doodle-name">
    {{ doodleName }}
</div>
<canvas #canvas></canvas>

<div class="home-content">
  <div class="links">
    <a target="_blank" href="https://github.com/rezonant">
      <img src="/icons/github/github-mark-white.svg" alt="Github" />
    </a>
    <a target="_blank" href="https://bsky.app/profile/rezonant.dev">
      <img src="/icons/bluesky/bluesky-mark-white.svg" alt="Bluesky" />
    </a>
    <a target="_blank" href="https://cliff.social/@rezonant">
      <img src="/icons/mastodon/mastodon-mark-white.svg" alt="Mastodon" />
    </a>
    <a target="_blank" href="https://www.linkedin.com/in/william-lahti-47a1b916/">
      <img src="/icons/linkedin/linkedin-mark-white.png" alt="Linked In" />
    </a>
    <a target="_blank" href="https://account.venmo.com/u/liamlahti">
      <img src="/icons/venmo/venmo-mark-white.svg" alt="Venmo" />
    </a>
  </div>
</div>
